In [1]:
# Dependencies and Setup
import pandas as pd
import os

# Load .csv file from Resources folder
purchase_data = os.path.join("Resources", "purchase_data.csv")

# Read purchase data file and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data, encoding="ISO-8859-1")

## Player Count

* Display the total number of players

In [2]:
# Get total number of players as the length (number of items) of the list of unique screen names
player_count = len(purchase_data["SN"].unique())

# Create and display the DataFrame displaying the number of total players
count_df = pd.DataFrame({"Total Players": player_count}, index=[0])
count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Create and display the formatted DataFrame containing basic analysis (utilizing various functions) of the purchase data
purchase_df = pd.DataFrame({
    # Get the number of unique items as the length of the list of unique item IDs
    "Number of Unique Items": [len(purchase_data["Item ID"].unique())],
    # Get the average price of all items by calculating the average (mean) of the price column
    "Average Price": ["${:.2f}".format(purchase_data["Price"].mean())],
    # Get the total number of purchases by taking the total count of the purchase ID column
    "Number of Purchases": [purchase_data["Purchase ID"].count()],
    # Get the total revenue as the sum total of the price of all items purchased
    "Total Revenue": ["${:,.2f}".format(purchase_data["Price"].sum())]
})
purchase_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Get total number of players by gender, first by grouping by unique screen names, then by gender, and taking the value count
total_count = purchase_data.groupby(["SN"])["Gender"].unique().value_counts()
# Get percentage of players by gender using the same syntax as above, but normalizing the data
pct_players = purchase_data.groupby(["SN"])["Gender"].unique().value_counts(normalize=True)
# Create the DataFrame containing the aforementioned calculations
gender_demos = pd.DataFrame({"Total Count": total_count, "Percentage of Players": pct_players * 100})
# Format and display the DataFrame
gender_demos["Percentage of Players"] = gender_demos["Percentage of Players"].map("{:.2f}%".format)
gender_demos

                         Total Count Percentage of Players
[Male]                           484                84.03%
[Female]                          81                14.06%
[Other / Non-Disclosed]           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Get the purchase count for each gender by grouping by gender and taking the count of each respective purchase ID
purch_count = purchase_data.groupby("Gender")["Purchase ID"].count()

# Get the average price of each item purchasd by gender by grouping by gender and calculating the average (mean) for the price column
avg_price = purchase_data.groupby("Gender")["Price"].mean()

# Get the total value of purchases by multiplying the average price per item purchased by the total number of items purchased
total_value = avg_price * purch_count

# Get the total number of players by gender using a different method of calculation than previously utilized (group by gender and get the number of unique screen name values)
total_count1 = purchase_data.groupby("Gender")["SN"].nunique()

# Get the average total per person of each gender by dividing the total value of purchases by number of players of each gender
avg_purch = total_value / total_count1

# Create and dsiplay the formatted DataFrame
purch_analysis = pd.DataFrame({
    "Purchase Count": purch_count, 
    "Average Purchase Price": avg_price.map("${:.2f}".format), 
    "Total Purchase Value": total_value.map("${:,.2f}".format), 
    "Avg Total Purchase Per Person": avg_purch.map("${:.2f}".format)
})
purch_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins for various age groups by defining bin edges
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100.1]

# Create names for the bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create an Age Group column to house the data cut on the age column of the purchase data
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_names, right=False, include_lowest=True)

# Group the purchase data by grouping by the newly created age group column and getting the number of unique screen name values for each
age_count = purchase_data.groupby("Age Group")["SN"].nunique()

# Get the percentage of players falling into each bin by dividing the count for each bin by the total number of players; multiply by 100 for subsequent formatting
age_percent = (age_count / player_count) * 100

# Create, format and display the DataFrame
age_demos = pd.DataFrame({
    "Total Count": age_count, 
    "Percentage of Players": age_percent.map("{:.2f}%".format),
})
age_demos

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Get the total purchase count for each bin by grouping by age group, then by purchase ID and taking the count
purch_count1 = purchase_data.groupby("Age Group")["Purchase ID"].count()

# Get the average purchase price for each bin by grouping by Age Group and calculating the average (mean) for the price column
avg_price1 = purchase_data.groupby("Age Group")["Price"].mean()

# Get the total value of purchases by multiplying the average price per item purchased by the total number of items purchased
total_value1 = avg_price1 * purch_count1

# Get the average total for each bin by dividing the total value of purchases by number of players in each age group
avg_purch1 = total_value1 / age_count

# Create and display the formatted DataFrame
age_analysis  = pd.DataFrame({
    "Purchase Count": purch_count1, 
    "Average Purchase Price": avg_price1.map("${:.2f}".format), 
    "Total Purchase Value": total_value1.map("${:,.2f}".format), 
    "Avg Total Purchase Per Person": avg_purch1.map("${:.2f}".format)
})
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Get the total purchase count for each individual player by grouping by screen name, then by purchase ID and taking the count
spender_count = purchase_data.groupby("SN")["Purchase ID"].count()

# Get the average purchase price for each player by grouping by screen name and calculating the average (mean) for the price column
spender_avg = purchase_data.groupby("SN")["Price"].mean()

# Get the total purcahse value for each player by grouping by screen name and calculating the sum of all items purchased respective to each player
total_value2 = purchase_data.groupby("SN")["Price"].sum()

# Create the DataFrame
top_spenders = pd.DataFrame({
    "Purchase Count": spender_count, 
    "Average Purchase Price": spender_avg,
    "Total Purchase Value": total_value2
})

# Sort the DataFrame and isolate the top five players by total purchase value (dollars spent per player) and sort in descending order
top_spenders = top_spenders.sort_values(by=["Total Purchase Value"],ascending=False).head()

# Format the appropriate DataFrame columns
top_spenders.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the relevant columns from the purchase data
purchase_data2 = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the relevant columns first by itme ID, then by item name
grouped_df = purchase_data2.groupby(["Item ID", "Item Name"])

# Get the total purchase count for each item by taking the count of each item ID
item_count = grouped_df["Item ID"].count()

# Get the average price for each item purchased by calculating the average (mean) for the price column
item_avgprice = grouped_df["Price"].mean()

# Get the total value of purchases for each item by multiplying the purchase count by the average price for each item
item_total = item_count * item_avgprice

# Create the DataFrame
popular_items = pd.DataFrame({
    "Purchase Count": item_count, 
    "Average Purchase Price": item_avgprice,
    "Total Purchase Value": item_total
})

# Sort the DataFrame by the top five most frequently purchased items and sort in descending order
popular_formatted = popular_items.sort_values(by=["Purchase Count"],ascending=False).head()

# Format the appropriate DataFrame columns
popular_formatted.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Take the previously created DataFrame and create a new version sorted by the top five total respective purchase values
popular_formatted2 = popular_items.sort_values(by=["Total Purchase Value"],ascending=False).head()

# Format the appropriate columns
popular_formatted2.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})